In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
path = Path('data')

In [3]:
pred_nn = pd.read_csv(path /'submission_nn.csv')
pred_xgboost = pd.read_csv(path / 'submission_xgboost.csv')

In [4]:
pred_nn.head()

     Id  SalePrice
0  1461  129759.43
1  1462  182990.12
2  1463  182990.12
3  1464  194791.98
4  1465  185871.81

In [5]:
pred_xgboost.head()

     Id   SalePrice
0  1461  123514.805
1  1462  152201.780
2  1463  172823.170
3  1464  181470.530
4  1465  200482.220

In [6]:
alpha = 0.5
beta = 0.5
comb = alpha * pred_nn['SalePrice'] + beta * pred_xgboost['SalePrice']
pred_comb = pd.DataFrame({'Id': pred_nn['Id'], 'SalePrice': comb})

In [7]:
pred_comb.to_csv(path / 'submission_comb.csv', index = False )