In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
path = Path('data')

In [3]:
pred_nn = pd.read_csv(path /'submission_manualPreproc_all_out.csv')
pred_xgboost = pd.read_csv(path / 'submission_xgb_all_out.csv')

In [4]:
pred_nn.head()

     Id  SalePrice
0  1461  131023.58
1  1462  138062.34
2  1463  181732.39
3  1464  203788.56
4  1465  183519.67

In [5]:
pred_xgboost.head()

     Id  SalePrice
0  1461   124867.0
1  1462   163610.0
2  1463   184957.0
3  1464   195666.0
4  1465   186796.0

In [10]:
# Higher weight for the GradientBoost model since the NN doesnt perform good enough
alpha = 0.2
beta = 0.8
comb = alpha * pred_nn['SalePrice'] + beta * pred_xgboost['SalePrice']
pred_comb = pd.DataFrame({'Id': pred_nn['Id'], 'SalePrice': comb.round()})

In [11]:
pred_comb.to_csv(path / 'submission_combined_weighted.csv', index = False )